@import "./../../styles/variables.scss";

.form-component {
  div {
    margin: 5px;
    padding: 5px;
    border: solid aqua 5px;
  }

  label {
    color: $primary-color;

    input,
    textarea,
    select {
      color: #fff;
      background-color: $primary-color;
      border: none;
      margin-left: 10px;
    }
  }

  button,
  ::-webkit-file-upload-button {
    border: solid $primary-color 5px;
    color: $primary-color;
    font-weight: bold;
    padding: 10px;

    &:hover {
      color: blue;
    }
  }
}
