.post-item {
  h3 {
    color: yellow;
    margin: 10%;
    background-color: lime;
  }

  .post-text {
    color: blue;
    font-size: 25px;
    text-decoration: underline;
  }

  button {
    background-color: red;
  }

  .promote-yes,
  .promote-no {
    color: white;
    padding: 10px 20px;
    display: inline-block;

    strong {
      color: yellow;
    }
  }

  .promote-yes {
    background-color: green;
  }

  .promote-no {
    background-color: red;
  }

  .too-many-dislikes {
    color: rgb(194, 14, 194);
    font-weight: bold;
  }
}
